.one
	{
	float:left;
	margin-left:8px;
	margin-top:10px;
	}
	
.two
	{
	float:left;
	margin-left:7px;
	color:black;
	font-size:22px;
	margin-top:15px;
	}	
	
.Three
	{
	float:left;
	margin-left:25px;
	font-size:20px;
	margin-top:17px;
	}	
	
.four
	{
	float:left;
	margin-left:25px;
	font-size:20px;
	margin-top:17px;
	}	

.five
	{
	float:left;
	margin-left:23px;
	margin-top:15px;
	font-size:20px;
	}	
	
.six
	{
	float:left;
	margin-left:30px;
	margin-top:15px;
	height:40px;
	width:500px;
	padding-left:200px;
	border-radius:18px;
	}	
	
.seven
	{
	float:left;
	margin-left:20px;
	font-size:17px;
	margin-left:130px;
	margin-top:10px;
	}	
	
.eight
	{
	float:left;
	margin-top:20px;
	margin-left:10px;
	}	
	
.nine
	{
	float:left;
	margin-left:30px; 
	margin-top:10px;
	font-size:17px;
	}	
	
.ten
	{
	float:left;
	margin-left:30px; 
	margin-top:10px;
	font-size:17px;	
	}	
	
.apple
	{
	border:1px solid #c9c9c9;
	padding-right:100px;
	float:left;
	margin-left:20px;
	padding-left:20px;
	padding-bottom:100px;
	padding-top:20px;
	color:gray;
	margin-top:20px;
	}	
	
.ball
	{
	float:left;	
	margin-top:40px;
	font-size:20px;
	color:black;
	}	
	
.cat
	{
	float:left;	
	margin-top:10px;
	font-size:20px;
	color:black;	
	}	
	
.dogs
	{
	float:left;	
	margin-top:10px;
	font-size:20px;
	color:black;	
	}	
	
.elephant
	{
	float:left;	
	margin-top:10px;
	font-size:20px;
	color:black;	
	}	
	
.fish
	{
	float:left;	
	margin-top:10px;
	font-size:20px;
	color:black;	
	}	
	
.house
	{
	float:left;	
	margin-top:10px;
	font-size:20px;
	color:black;	
	margin-bottom:20px;
	}	
	
.geming
	{
	margin-left:10px;
	color:gray;
	margin-top:20px;
	}		
	
.iphone
	{
	float:left;
	}	
	
.showme
	{
	float:left;	
	margin-left:10px;
	color:black;
	margin-top:5px;
	font-size:18px;
	}	
	
.tiktok
	{
	float:left;	
	margin-top:20px;
	}	
	
.instgram
	{
	float:left;	
	margin-top:20px;
	color:black;
	margin-left:10px;
	}	
	
.sai
	{
	float:left;
	margin-top:25px;
	margin-left:-20%;
	}	
	
.sani
	{
	float:left;
	margin-left:10px;
	color:black;
	margin-top:25px;
	margin-bottom:15px;
	}	
	
.sanika
	{
	float:left;
	margin-top:15px;
	margin-left:4px;
	}	
	
.hitarth	
	{
	margin-left:10px;	
	float:left;
	color:black;
	margin-top:20px;
	margin-bottom:10px;
	}
	
.shokap
	{
	float:left;
	margin-top:20px;
	margin-left:10px;
	}	
	
.kaka
	{
	float:left;
	margin-left:10px;
	color:black; 
	margin-top:20px;
	}	
	
.chacha
	{
	margin-left:60px;	
	font-size:30px;
	margin-top:20px;
	float:left;
	margin-bottom:29px;
	margin-right:20px;
	}	
	
.shotkat
	{
	float:left;	
	margin-top:10px;
	margin-left:20px;
	}	
	
.spkjpg
	{
	height:45px;
	width:135px;
	}	
	
.htmls
	{
	float:left;	
	margin-top:10px;
	margin-left:15px;	
	}	
	
.total
	{
	height:45px;
	width:135px;
	}	
	
.totals
	{
	float:left;	
	margin-top:10px;
	margin-left:15px;	
	}	
	
.classic
	{
	height:45px;
	width:135px;
	}	
	
.brranked
	{
	float:left;	
	margin-top:10px;
	margin-left:15px;	
	}	
	
.csranked
	{
	height:45px;
	width:135px;	
	}	
	
.clash
	{
	float:left;	
	margin-top:10px;
	margin-left:10px;	
	}	
	
.sqard
	{
	height:45px;
	width:135px;	
	}	
	
.kali
	{
	float:left;	
	margin-top:10px;
	margin-left:10px;	
	}	
	
.savan
	{
	height:45px;
	width:135px;		
	}	
	
.lokesh
	{
	float:left;	
	margin-top:10px;
	margin-left:10px;		
	}	

.s
	{
	height:45px;
	width:135px;	
	}	
	