.one
	{
	background-color:024CAA;
	}
	
.two
	{
	color:white;
	float:left;
	font-size:30px;
	margin-left:380px;
	}	
	
.Three
	{
	color:white;
	float:left;
	margin-top:30px;
	margin-left:450px;
	font-size:20px;
	border-bottom:2px solid white;
	padding-right:30px;
	}	
	
.four
	{
	float:left;
	color:white;
	margin-top:30px;
	margin-left:20px;
	border-bottom:2px solid white;
	padding-right:10px;
	font-size:20px;
	}	
	
.five
	{
	float:left;
	margin-top:40px;
	margin-right:500px;
	margin-left:40px;
	font-size:20px;
	color:white;
	padding-top:15px;
	}	
	
.six
	{
	border-bottom:2px solid white;
	padding-right:10px;
	font-size:20px;
	float:right;
	margin-top:10px;
	margin-left:20px; 
	padding-right:70px;
	}	
	
.seven
	{
	float:left;
	margin-left:-16%;
	margin-top:60px;
	color:white;
	font-size:20px;
	}	

.eight	
	{
	border-bottom:2px solid white;
	padding-right:10px;
	font-size:20px;
	float:left;
	margin-top:60px;
	margin-left:-8%;
	color:white;
	padding-right:40PX;
	}
	
.nine
	{
	float:left;
	margin-left:15%;
	margin-top:60px;
	color:white;
	font-size:20px;	
	}	
	
.ten
	{
	border-bottom:2px solid white;
	padding-right:10px;
	font-size:20px;
	float:left;
	margin-top:60px;
	margin-left:3%;
	color:white;
	padding-right:40px;	
	padding-left:20px;
	margin-right:110px;
	}	
	
.clock
	{
	float:left;
	margin-left:-11;
	margin-top:60px;
	color:white;
	font-size:20px;
	}	
	

table, th, tr, td{
	text-align:center;
	color:white;
	border: 1px solid white;
	margin-top:40px;
}