.one
	{
	color:orange;
	font-size:30px;
	float:left;
	margin-left:25px;
	}
		
.two
	{
	color:black;
	margin-left:50px;
	margin-top:10px;
	float:left;
	text-decoration:none;
	}

.three 
	{
	float:left;	
	margin-left:10px;
	margin-top:10px;
	}	
	
.four
	{
	float:left;
	margin-left:40px;
	margin-top:5px;
	border:1px solid black;
	padding-right:490px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	border-radius:30px;
	font-size:18px;
	}	
	
.five
	{
	font-size:18px;	
	float:left;
	margin-left:40px;
	margin-top:10px;
	}

.six
	{
	margin-top:10px;
	float:left;
	margin-left:30px;
	border:3px solid black;
	border-radius:30px;
	}
	
.seven
	{
	border-radius:30px;	
	}	
	
.eight
	{
	float:left;
	margin-left:30px;
	margin-top:10px;
	}
	
.nine
	{
	float:left;
	margin-left:30px;
	margin-top:10px;	
	}	
	
.ten
	{
	float:left;
	margin-left:30px;
	margin-top:10px;	
	}	
	
.g1
	{
	margin-top:10px;
	margin-left:330px;
	float:left;
	}	

.g2
	{
	float:left;
	margin-top:10px;
	margin-left:20px;
	font-size:14px;
	text-decoration:none;
	color:black;
	}	
	
.g3
	{
	float:left;
	margin-top:10px;
	margin-left:40px;
	font-size:14px;
	text-decoration:none;
	color:black;
	}	
	
.g4	
	{
	float:left;
	margin-top:10px;
	margin-left:30px;	
	font-size:14px;	
	text-decoration:none;
	color:black;
	}
	
.g5
	{
	float:left;
	margin-top:10px;
	margin-left:30px;	
	font-size:14px;		
	}	
	
.g6
	{
	float:left;
	margin-top:10px;
	margin-left:30px;	
	font-size:14px;		
	}
	
.velo
	{
	float:left;
	height:40%;
	width:110%;
	}	
	
.aabbcc
	{
	float:left;
	margin-left:2%;
	font-size:20px;
	}	
	
.ssk
	{
	float:left;
	margin-top:4%;
	margin-left:-7%;
	}
	
.ashok
	{
	float:left;
	margin-left:-12%;
	margin-top:15%;	
	color:gray;
	}	
	
.timers
	{
	float:left;
	margin-top:16.8%;
	margin-left:-12%;
	}	
	
.mitalididi
	{
	float:left;
	margin-left:-12%;
	margin-top:18.8%;
	}	
	
	