.utkarsh
	{
	background-color:E4E0E1;	
	}		
.one
	{
	border:1px solid white;	
	background-color:white;
	border-radius:15px;
	width:70%;
	height:400px;
	margin:auto;
	margin-top:5%;
	text-align:center;
	font-size:25px;
	padding-top:10px;
	background-color:;
	}	
.two
	{
	float:left;	
	border-left:1px solid white;
	border-right:1px solid white;
	border-top:1px solid white;
	padding-right:160px;
	margin-right:80px;
	margin-top:50px;
	margin-left:85px;
	background-color:;
	}
.Three
	{
	border-left:1px solid white;
	border-right:1px solid white;
	border-top:1px solid white;
	padding-right:160px;
	margin-right:10px;
	margin-top:50px;
	margin-left:10px;	
	}	
.four
	{
	border-left:1px solid white;
	border-right:1px solid white;
	border-top:1px solid white;
	padding-right:160px;
	margin-right:100px;
	margin-top:50px;
	margin-left:20px;		
	}		
	
.five
	{
	border-left:1px solid white;
	border-right:1px solid white;
	border-top:1px solid white;
	padding-right:160px;
	margin-top:50px;
	margin-left:10px;			
	}	
	
.six
	{
	border-left:1px solid white;
	border-right:1px solid white;
	border-top:1px solid white;
	padding-right:160px;
	margin-top:50px;
	margin-left:10px;				
	}	
	
.seven
	{
	border-left:1px solid white;
	border-right:1px solid white;
	border-top:1px solid white;
	padding-right:160px;
	margin-top:50px;
	margin-left:110px;				
	}	
	
.eight
	{
	border-left:1px solid white;
	border-right:1px solid white;
	border-top:1px solid white;
	padding-right:10px;
	margin-top:50px;
	margin-left:30px;				
	}	
	
.nine
	{
	border-left:1px solid white;
	border-right:1px solid white;
	border-top:1px solid white;
	padding-right:10px;
	margin-top:50px;
	margin-left:30px;				
	}	
	
.ten	
	{
	border-left:1px solid white;
	border-right:1px solid white;
	border-top:1px solid white;
	padding-right:10px;
	margin-top:50px;
	margin-left:30px;				
	}